name: CI

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 12

    - name: Install Dependencies
      run: yarn --ignore-scripts

    - name: Lint
      run: yarn lint

  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 12

    - name: Install Dependencies
      run: yarn --ignore-scripts

    - name: Jest
      run: yarn test -- -- -- --forceExit

    - name: Codecov
      uses: codecov/codecov-action@v1

  health:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 12

    - name: Install Dependencies
      run: yarn --ignore-scripts

    - name: Start Server and Check
      run: |
        yarn start:dev & sleep 30
        STATUS=`curl -I -s 'http://localhost:4000/.well-known/apollo/server-health' | grep HTTP | tr -d "\r"`
        if [[ "$STATUS" != "HTTP/1.1 200 OK" ]]; then exit 1; fi
      working-directory: apollos-church-api
